<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="secondary">
            <ion-buttons slot="start">
                <ion-button (click)="dismiss()">
                    Cancel
                    <ion-ripple-effect></ion-ripple-effect>
                </ion-button>
            </ion-buttons>
        </ion-buttons>
        <ion-title>
            New Timer
        </ion-title>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form [formGroup]="timerForm" (ngSubmit)="createTimer(timerForm)">
        <ion-item>
            <ion-label position="Fixed">Name</ion-label>
            <ion-input
                class="ion-text-right"
                placeholder="Timer#9320"
                formControlName="name"
            ></ion-input>
        </ion-item>
        <ion-item button="true" detail="false" (click)="chooseTime()">
            <ion-label position="Fixed">Time</ion-label>
            <div class="time">
                <span class="minute"
                    >{{ minutes | async | number: '2.0-0' }}m</span
                >
                <span class="second">
                    {{ seconds | async | number: '2.0-0' }}s</span
                >
            </div>
        </ion-item>
        <div *ngFor="let error of errors | async" class="errors">
            {{ error }}
        </div>
        <ion-button type="submit" expand="block">Create</ion-button>
    </form>
</ion-content>
