:host {
    height: calc(100% - 150px);
    width: 100%;

    .spacer {
        height: 10vh;
        max-height: 50px;
    }

    ion-list {
        max-height: calc(100vh - 100px);
        overflow: scroll;
        padding-bottom: 170px;

        ion-item {
            .timer-wrapper {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;
                font-size: 16px;
            }
        }
    }
}
