<div class="spacer"></div>
<ng-container *ngIf="circuit$ | async as circuit">
    <h1>{{ circuit.name }}</h1>
    <ion-list>
        <ion-item *ngFor="let timer of timers$ | async; let i = index">
            <app-circuit-timer
                #childTimer
                [timerData]="timer"
                [isActive]="(playIndex$ | async) === i"
                (timerComplete)="nextTimer()"
            ></app-circuit-timer>
        </ion-item>
    </ion-list>
    <app-circuit-controls
        [circuitComplete]="circuitComplete$ | async"
        [isCountingDown]="isCountingDown$ | async"
        (play)="play()"
        (skip)="skip()"
        (delete)="delete()"
        (reset)="resetTimers()"
        (edit)="editCircuit.emit(circuit)"
    ></app-circuit-controls>
</ng-container>
