:host {
    height: calc(100% - 150px);
    margin: 50px 0 100px;
    width: 100%;

    ion-item {
        .timer-wrapper {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            font-size: 16px;
        }
    }
}
