<div class="spacer"></div>
<div *ngIf="playFireWorks$ | async" class="pyro">
    <div class="before"></div>
    <div class="after"></div>
</div>
<ng-container *ngIf="circuit$ | async as circuit">
    <h1>{{ circuit.name }}</h1>
    <ion-list #timerList>
        <ion-item
            #scrollTo
            *ngFor="let timer of timers$ | async; let i = index; trackBy: timerTrackBy"
        >
            <app-circuit-timer
                #childTimer
                [timerData]="timer"
                [isActive]="(playIndex$ | async) === i"
                [isPlaying]="isPlaying$ | async"
                (timerComplete)="nextTimer()"
            ></app-circuit-timer>
        </ion-item>
    </ion-list>
    <app-circuit-controls
        [circuitComplete]="circuitComplete$ | async"
        [isPlaying]="isPlaying$ | async"
        [percentComplete]="percentComplete$ | async"
        (play)="play()"
        (skip)="skip()"
        (delete)="delete()"
        (reset)="resetTimers()"
        (edit)="editCircuit.emit(circuit)"
    ></app-circuit-controls>
</ng-container>
