<ion-header>
    <ion-toolbar color="primary">
        <!-- <ion-buttons slot="secondary">
            <ion-button>
                <ion-icon slot="icon-only" name="contact"></ion-icon>
            </ion-button>
        </ion-buttons> -->
        <ion-title>
            Jadryan's Circuits
        </ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="createCircuit()" title="Add new circuit">
                <ion-icon slot="icon-only" name="add"></ion-icon>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides
        (ionSlideDidChange)="slideChange($event)"
        pager="true"
        [options]="slideOpts"
        *ngIf="(circuits$ | async)?.length > 0; else noCircuits"
    >
        <ion-slide *ngFor="let circuit of circuits$ | async">
            <app-timer-countdown [circuit]="circuit"></app-timer-countdown>
        </ion-slide>
    </ion-slides>
    <ng-template #noCircuits>No circuits</ng-template>
</ion-content>
