<ion-header>
    <ion-toolbar color="primary">
        <!-- <ion-buttons slot="secondary">
            <ion-button>
                <ion-icon slot="icon-only" name="contact"></ion-icon>
            </ion-button>
        </ion-buttons> -->
        <ion-title>
            Jadryan's Timers
        </ion-title>
        <ion-buttons slot="primary">
            <ion-button (click)="createTimer()" title="Add new timer">
                <ion-icon slot="icon-only" name="add"></ion-icon>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides
        (ionSlideDidChange)="slideChange($event)"
        pager="true"
        [options]="slideOpts"
        *ngIf="(timers$ | async)?.length > 0; else noTimers"
    >
        <ion-slide *ngFor="let timer of timers$ | async">
            <app-timer-countdown [timer]="timer"></app-timer-countdown>
        </ion-slide>
    </ion-slides>
    <ng-template #noTimers>No timers</ng-template>
</ion-content>
