ion-slides {
    height: 100%;
    position: relative;
    background: var(--ion-color-background);

    --bullet-background: var(--ion-color-dark);
    --bullet-background-active: var(--ion-color-secondary);

    ::ng-deep {
        .swiper-pagination {
            top: 0;
            padding: 5px 0;
            background: var(--ion-color-light);
        }
        ion-slide {
            align-items: flex-start;
        }
    }
}
