<ion-header>
    <ion-toolbar mode="ios" color="primary">
        <ion-buttons slot="start">
            <ion-button (click)="dismiss()">
                <ion-icon slot="icon-only" name="close"></ion-icon>
                <!-- Cancel -->
                <ion-ripple-effect></ion-ripple-effect>
            </ion-button>
        </ion-buttons>
        <ion-title>
            New Circuit
        </ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="formRef.ngSubmit.emit()">
                <ion-icon slot="icon-only" name="checkmark"></ion-icon>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content>
    <form
        [formGroup]="circuitForm"
        (ngSubmit)="submitCircuit(circuitForm)"
        #formRef="ngForm"
    >
        <ion-item>
            <ion-label position="Fixed">Circuit Name</ion-label>
            <ion-input
                class="ion-text-right"
                placeholder="Name your circuit"
                formControlName="circuitName"
            ></ion-input>
        </ion-item>
        <div class="validation-errors">
            <ng-container
                *ngFor="let validation of validationMessages.circuitName"
            >
                <div
                    class="error-message"
                    *ngIf="
                        isValid(circuitForm.get('circuitName'), validation.type)
                    "
                >
                    <ion-icon name="information-circle"></ion-icon
                    >{{ validation.message }}
                </div>
            </ng-container>
        </div>
        <ion-card>
            <ion-list>
                <ion-reorder-group
                    formArrayName="timers"
                    (ionItemReorder)="doReorder($event)"
                    disabled="false"
                >
                    <ion-item-sliding
                        #slideable
                        class="timer"
                        *ngFor="
                            let timer of timersFormArray.controls;
                            let i = index
                        "
                        [formGroupName]="i"
                    >
                        <ion-item>
                            <ion-input
                                class="name"
                                placeholder="Timer Name"
                                formControlName="name"
                            ></ion-input>
                            <ion-input
                                type="number"
                                class="minutes"
                                placeholder="Minutes"
                                formControlName="minutes"
                                (ionChange)="updateTimerTotalTime(i)"
                            >
                                <span
                                    slot="end"
                                    class="sufix"
                                    *ngIf="timer.get('minutes').value !== ''"
                                    >m</span
                                >
                            </ion-input>
                            <ion-input
                                type="number"
                                class="seconds"
                                placeholder="Seconds"
                                formControlName="seconds"
                                (ionChange)="updateTimerTotalTime(i)"
                            >
                                <span
                                    slot="end"
                                    class="sufix"
                                    *ngIf="timer.get('seconds').value !== ''"
                                    >s</span
                                >
                            </ion-input>

                            <!-- <ion-item
                                button="true"
                                lines="none"
                                (click)="chooseTime(timer)"
                            >
                                <div class="time">
                                    <span class="minute"
                                        >{{
                                            timer.get('minutes').value
                                                | number: '2.0-0'
                                        }}m</span
                                    >
                                    <span class="second">
                                        {{
                                            timer.get('seconds').value
                                                | number: '2.0-0'
                                        }}s</span
                                    >
                                </div>
                            </ion-item> -->
                            <ion-reorder></ion-reorder>
                        </ion-item>
                        <ion-item-options side="end">
                            <ion-item-option
                                color="primary"
                                (click)="addTimer(timer.value)"
                            >
                                <ion-icon name="copy"></ion-icon>
                            </ion-item-option>
                            <ion-item-option
                                color="danger"
                                (click)="deleteTimer(i)"
                            >
                                <ion-icon name="trash"></ion-icon>
                            </ion-item-option>
                        </ion-item-options>

                        <div class="validation-errors">
                            <ng-container
                                *ngFor="
                                    let validation of validationMessages.timer
                                "
                            >
                                <div
                                    class="error-message"
                                    *ngIf="
                                        isValid(
                                            timersFormArray.controls[i].get(
                                                'totalTime'
                                            ),
                                            validation.type
                                        )
                                    "
                                >
                                    <ion-icon
                                        name="information-circle"
                                    ></ion-icon
                                    >{{ validation.message }}
                                </div>
                            </ng-container>
                        </div>
                    </ion-item-sliding>
                </ion-reorder-group>
            </ion-list>
            <ion-button
                type="button"
                expand="block"
                (click)="addTimer()"
                class="add-timer"
            >
                Add Timer
            </ion-button>
        </ion-card>
        <div *ngFor="let error of errors$ | async" class="errors">
            {{ error }}
        </div>
    </form>
</ion-content>
