:host {
    width: 100%;

    .timer-wrapper {
        display: flex;
        justify-content: space-between;
        transition: font-size 0.2s;

        &.active {
            color: var(--ion-color-primary);
            font-weight: bold;
            font-size: 30px;
        }
        .name {
            max-width: calc(100% - 115px);
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}
