<div class="spacer"></div>
<ion-progress-bar [value]="percentComplete"></ion-progress-bar>
<div class="controls-wrapper">
    <ion-fab slot="fixed" vertical="center" horizontal="center">
        <ion-fab-button size="small" class="secondary">
            <ion-icon name="ellipsis-vertical"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button color="secondary" class="secondary" (click)="reset.emit()">
                <ion-icon name="refresh"></ion-icon>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-fab-button>
            <ion-fab-button color="secondary" class="secondary" (click)="edit.emit()">
                <ion-icon name="create"></ion-icon>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-fab-button>
            <ion-fab-button color="secondary" class="secondary" (click)="delete.emit()">
                <ion-icon name="trash"></ion-icon>
                <ion-ripple-effect></ion-ripple-effect>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
    <div class="middle">
        <ion-fab-button color="secondary" class="play" (click)="playOrReset()">
            <ion-icon name="play" *ngIf="!circuitComplete && !isPlaying"></ion-icon>
            <ion-icon name="pause" *ngIf="!circuitComplete && isPlaying"></ion-icon>
            <ion-icon name="refresh" *ngIf="circuitComplete"></ion-icon>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-fab-button>
    </div>
    <ion-fab slot="fixed" horizontal="center">
        <ion-fab-button size="small" class="secondary" (click)="skip.emit()">
            <ion-icon name="play-skip-forward"></ion-icon>
            <ion-ripple-effect></ion-ripple-effect>
        </ion-fab-button>
    </ion-fab>
</div>
